*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.maingrid{
max-width: 500px;
width: 100%;
aspect-ratio: 1;
display: grid;
grid-template-columns: repeat(10, 1fr);

}

.colorbtn{
width: 100%;
aspect-ratio: 1;
border: 1px solid black;

}